* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  background-color: #F2F2F2;
}

/*Navigation menu styling*/
nav {
  display: flex;
  justify-content: space-between;
  background-color: #F49F0A;
  margin-bottom: 20px;
  padding: 10px;
}

.rules-active {
  text-decoration: underline;
}

nav p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #001011;
}

/*Homepage styling*/
h1 {
  font-size: 35px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #001011;
}

.btn1 {
  background-color: #EF3E36;
}

.btn2 {
  background-color: #17BEBB;
}

.btn3 {
  background-color: #F49F0A;
}

.btn4 {
  background-color: #BAFF29;
}

.btn5 {
  background-color: #806a83;
}

#scoreboard {
  background-color: rgb(241, 234, 234);
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#scoreboard p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 5px;
  color: #001011;
}

#choices button {
  margin: 5px;
  width: 150px;
  padding: 15px;
  color: #001011;
  border-style: none;
  border-radius: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: ease 0.2s;
}

#choices button:hover {
  opacity: 0.7; 
}

#restart {
  padding: 15px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  width: 92%;
  background-color: #F2F2F2;
  color: #001011;
  border-style: none;
  border: 2px solid #001011;
  border-radius: 2px;
  cursor: pointer;
  transition: ease 0.2s;
  display: none;
}

#restart:hover {
  background-color: #001011;
  color: #F2F2F2;
}

/*Rules section styling*/
ul {
  margin-top: 20px;
}

#rules h1 {
  margin-bottom: 20px;
}

#rules h1, p, ul {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  line-height: 30px;
}

#rules span {
  font-weight: bold;
}

.span-rock {
  color: #EF3E36;
}

.span-paper {
  color: #17BEBB;
}

.span-scissors {
  color: #F49F0A;
}

.span-lizard {
  color: #78a120;
}

.span-spock {
  color: #806a83;
}

#return-game-area {
  padding: 15px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  width: 92%;
  background-color: #001011;
  color: #F2F2F2;
  border-style: none;
  border: 2px solid black;
  border-radius: 2px;
  cursor: pointer;
  transition: ease 0.2s;
}

#return-game-area:hover {
  opacity: 0.7;
}
