* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  background-color: #F2F2F2;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: orange;
  margin-bottom: 20px;
  padding: 10px;
}

nav p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #001011;
}

h1 {
  font-size: 35px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #001011;
}

.btn1 {
  background-color: #EF3E36;
}

.btn2 {
  background-color: #17BEBB;
}

.btn3 {
  background-color: #F49F0A;
}

.btn4 {
  background-color: #BAFF29;
}

.btn5 {
  background-color: #634B66;
}

#scoreboard {
  background-color: rgb(241, 234, 234);
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#scoreboard p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 5px;
  color: #001011;
}

#choices button {
  margin: 5px;
  width: 150px;
  padding: 15px;
  color: #001011;
  border-style: none;
  border-radius: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: ease 0.2s;
}

#choices button:hover {
  color: #F2F2F2;
}

#restart {
  padding: 15px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  width: 92%;
  background-color: #F2F2F2;
  color: black;
  border-style: none;
  border: 2px solid black;
  border-radius: 2px;
  cursor: pointer;
}

