* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  background-color: #F2F2F2;
}

/*Navigation menu styling*/
nav {
  display: flex;
  justify-content: space-between;
  background-color: #F49F0A;
  margin-bottom: 20px;
  padding: 10px;
}

a {
  text-decoration: none;
}

#rules-active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-style: wavy;
  text-underline-offset: 3px;
}

nav p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #001011;
}

/*Homepage styling*/
h1 {
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #001011;
}

.btn1 {
  background-color: #EF3E36;
}

.btn2 {
  background-color: #17BEBB;
}

.btn3 {
  background-color: #F49F0A;
}

.btn4 {
  background-color: #BAFF29;
}

.btn5 {
  background-color: #806a83;
}

#scoreboard {
  border: 3px solid #001011;
  background-color: rgb(185, 222, 192);
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 7px;
  margin-right: 7px;
  padding-left: 20px;
  padding-right: 20px;
}

#scoreboard p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 5px;
  color: #001011;
}

#scoreboard #player-scoreboard {
  color: #EF3E36;
  font-weight: bold;
}

#scoreboard #computer-scoreboard {
  color: #806a83;
  font-weight: bold;
}

#choices-display {
  border: 3px solid #001011;
  border-radius: 30px;
  padding: 20px;
  background-color: rgb(185, 222, 192);
  margin-bottom: 20px;
  margin-left: 7px;
  margin-right: 7px;
  height: 120px;
}

#player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 3px solid red; */
  height: 50px;
}

#computer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 3px solid blue; */
  height: 50px;
}

#player-choice {
  color: #EF3E36;
}

#computer-choice {
  color: #806a83;
}

#choices-display span {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 35px;
  text-transform: capitalize;
}

#result {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

hr {
  background-color: #001011;
  border-style: solid;
  margin-top: 10px;
  margin-bottom: 10px;
}

#choices button {
  margin: 5px;
  width: 150px;
  padding: 15px;
  color: #001011;
  border-style: none;
  border-radius: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: ease 0.2s;
}

#choices button:hover {
  opacity: 0.7; 
}

#restart {
  padding: 15px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 15px;
  width: 92%;
  background-color: #F2F2F2;
  color: #001011;
  border-style: none;
  border: 2px solid #001011;
  border-radius: 50px;
  cursor: pointer;
  transition: ease 0.2s;
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

#restart:hover {
  background-color: rgb(185, 222, 192);
  color: #001011;
}

/*Rules section styling*/
ul {
  margin-top: 20px;
}

#rules h1 {
  margin-bottom: 20px;
}

#rules h1, p, ul {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  line-height: 30px;
}

#rules span {
  font-weight: bold;
}

.span-rock {
  color: #EF3E36;
}

.span-paper {
  color: #17BEBB;
}

.span-scissors {
  color: #F49F0A;
}

.span-lizard {
  color: #78a120;
}

.span-spock {
  color: #806a83;
}

#return-game-area {
  padding: 15px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  width: 92%;
  background-color: #001011;
  border-style: none;
  border: 2px solid black;
  border-radius: 2px;
  cursor: pointer;
  transition: ease 0.2s;
}

button a {
  color: #F2F2F2;
}


#return-game-area:hover {
  opacity: 0.7;
}

/* Media queries for screens 768px and up */
@media (min-width: 768px) {
  #choices-display {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #choices-display {
    height: 50px;
  }

  hr {
    display: none;
  }

}
